<header
  class="sticky top-0 z-50 bg-background-light/80 dark:bg-background-dark/80 backdrop-blur-sm border-b border-border-light dark:border-border-dark"
>
  <div class="container mx-auto px-4">
    <div class="flex h-20 items-center justify-between">
      <div class="flex items-center gap-8">
        <a
          class="flex items-center gap-2 text-text-light dark:text-text-dark"
          href="/"
        >
          <img
            alt="GMExpress Logo"
            class="h-10 w-auto"
            src="https://lh3.googleusercontent.com/aida-public/AB6AXuBHPhkX6YiLj4GxfSai9gy5BXQgZgKrzqEgOFI6EDlQZoUjkxEfMdc9WArGBBlPwGxDxrYLpBBjwJy3Z4iWQOSiOM7YnkkSDN2h51GLKx1En5wvwpe4qwJdZMTMe2bDjiBnpdNVQmzJFi3PQ9gjz_9Sl0swolF8ravFFhD1i9-Hanx-sVs15vty_4-ozTwFubGcxN6qB4T1qedxm1YZ0cBX_dBlpb4rXxfWStHl8a_sQ3cGR0ImG5xm_xBFXFEZoNF8H7Xy8tXJRWk"
          />
        </a>
        <nav class="hidden md:flex items-center gap-6">
          <a class="text-sm font-medium hover:text-primary" href="#"
            >Categorías</a
          >
          <a class="text-sm font-medium hover:text-primary" href="#">Ofertas</a>
          <a class="text-sm font-medium hover:text-primary" href="#"
            >Sobre Nosotros</a
          >
          <a class="text-sm font-medium hover:text-primary" href="/">Inicio</a>
        </nav>
      </div>
      <div class="flex flex-1 justify-end gap-3 items-center">
        <div class="hidden sm:flex relative max-w-xs w-full">
          <span
            class="material-symbols-outlined absolute left-3 top-1/2 -translate-y-1/2 text-text-light/60 dark:text-text-dark/60"
            >search</span
          >
          <input
            class="w-full rounded-full border border-border-light dark:border-border-dark bg-card-light dark:bg-card-dark h-10 pl-10 pr-4 placeholder:text-text-light/60 dark:placeholder:text-text-dark/60 focus:ring-2 focus:ring-primary focus:border-primary text-sm"
            placeholder="Buscar productos..."
            type="search"
          />
        </div>
        <button
          data-cart-toggle
          class="flex h-10 w-10 shrink-0 cursor-pointer items-center justify-center overflow-hidden rounded-full bg-card-light dark:bg-card-dark hover:bg-gray-200 dark:hover:bg-gray-700 border border-border-light dark:border-border-dark"
        >
          <span
            class="material-symbols-outlined text-text-light dark:text-text-dark"
            >shopping_cart</span
          >
        </button>
        <button
          class="flex h-10 w-10 shrink-0 cursor-pointer items-center justify-center overflow-hidden rounded-full bg-card-light dark:bg-card-dark hover:bg-gray-200 dark:hover:bg-gray-700 border border-border-light dark:border-border-dark"
        >
          <span
            class="material-symbols-outlined text-text-light dark:text-text-dark"
            >person</span
          >
        </button>
      </div>
    </div>
  </div>
</header>
