<section class="w-full py-10 md:py-20 lg:py-24">
  <div class="max-w-7xl mx-auto px-4 sm:px-10">
    <div class="@container">
      <div
        class="flex min-h-[480px] flex-col gap-6 bg-cover bg-center bg-no-repeat rounded-xl items-start justify-end px-6 pb-10 @[480px]:px-10"
        data-alt="Imagen de la fachada de GMEXPRESS"
        style="background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%), url('/images/background.jpg');"
      >
        <div class="flex flex-col gap-2 text-left max-w-2xl">
          <h1
            class="text-white text-4xl font-black leading-tight tracking-tighter @[480px]:text-5xl"
          >
            La calidad y frescura que buscas, directo a tu empresa
          </h1>
          <p
            class="text-white/90 text-sm font-normal leading-normal @[480px]:text-base"
          >
            Descubre nuestra selección de productos y Servicios alimenticios de
            primera calidad.
          </p>
        </div>
        <button
          class="flex min-w-[84px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-primary text-white text-sm font-bold tracking-wide @[480px]:text-base hover:bg-primary/90 transition-colors"
        >
          <span class="truncate">Sobre Nosotros</span>
        </button>
      </div>
    </div>
  </div>
</section>
